**/.dockerignore
**/.env
**/.env.*
**/appsettings.json
**/appsettings.*.json
**/appsetting.example.json
**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/*.pubxml.user
.security-private/
user.txt
data-miniSize.sql
PhoneStoreUser/Data/Mysql/init/db.sql
PhoneStoreAdmin/Database/scheme.sql
PhoneStoreAdmin/Database/product.sql
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/Dockerfile*
**/node_modules
**/obj
**/charts
**/docker-compose*
**/compose*
**/README.md
**/LICENSE
**/LICENSE.md
